@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 移除深色模式設定，確保背景顏色一致 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 自定義動畫 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

/* 定位提示框 */
:root {
  --tooltip-top: 0px;
  --tooltip-left: 0px;
}

.tooltip-position {
  position: fixed;
  z-index: 50; /* z-50 */
  top: var(--tooltip-top);
  left: var(--tooltip-left);
}
